html, body {
margin: 0;
padding: 0;
}
canvas {
display: block;
}

main {
    min-height: 100vh; /* 确保 main 元素占满整个视口高度 */
    display: flex;
    justify-content: center;
    align-items: center;
}